<div ng-controller="GroupController" ng-init="init()">
  <form role="form">
    <div class='form-group field-block' ng-class="group.name == '' ? 'has-error' : '' ">
      <div> <label class="control-label" for="name"> Name </label></div>
      <div class='control'>
       <input type='text' id="name" ng-model="group.name" class="form-control" />
       <input type='hidden' ng-model="group.id" />
      </div>
    </div>

    <div>
      <div class='form-group field-block'>
        <label class="control-label" for="new_address">Addresses</label>
      </div>

      <div class='form-group field-block' ng-repeat="address in group.addresses">
        <div class='control ui-multi'>
          <input readonly="readonly" type='text' id='address-{{$index}}' class='ui-multi form-control' value="{{address}}" />
          <a ng-click='removeAddress($index)' class="btn btn-xs btn-danger glyphicon glyphicon-minus"> </a>
        </div>
      </div>
    </div>

    <div class='form-group field-block'>
      <div class='control ui-multi'>
        <span ng-class="isNewAddressValid() ? '' : 'has-error' ">
          <input type='text' id="new_address" 
                 class='ui-multi form-control'
                 ng-model="newAddress" />
        </span>
        <a class="btn btn-xs btn-primary glyphicon glyphicon-plus"
           ng-click='addNewAddress()'
           ng-disabled='!isNewAddressValid() || !newAddress' >
        </a>
      </div>
    </div>


    <div class='form-group field-block btn-block'>
      <label> </label>
      <div class='control'>
        <button class="btn btn-primary" 
                ng-click='save()'
                ng-disabled="!isValid()" >
                Save
        </button>
        <button ui-sref='groups' class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>
</div>
