<div ng-controller="ScheduleController" ng-init="init()">
  <form role="form" novalidate>

    <!-- Group -->
    <div class='form-group field-block' 
         ng-class="schedule.reminder_group_id ? '': 'has-error' ">
      <label class="control-label" for="group">Group</label>
      <div class='control'>
        <select id="group" 
                class='form-control'
                ng-model="schedule.reminder_group_id" 
                ng-options="group.id as group.name for group in groups"></select>
      </div>
    </div>

    <!-- Call flow -->
    <div class='form-group field-block clearfix'
         ng-class="schedule.call_flow_id > 0 ? '' : 'has-error' " >
      <label class="control-label" for="call_flow">Call flow</label>
      <div class='control'>
        <select id="call_flow" 
                class='form-control'
                ng-model="schedule.call_flow_id"
                ng-options="callFlow.id as callFlow.name  for callFlow in project.call_flows">
        </select>
      </div>
    </div>

    <hr>
    <div class='' ng-class="schedule.reminder_channels.length > 0 ? '' : 'has-error' " >
      <span>Channels</span>
      
      <div class='form-group field-block' ng-repeat="reminderChannel in schedule.reminder_channels">
        <div class='control ui-multi'>
          <input readonly="readonly" type='text' id='channel-{{$index}}' 
                 class='form-control' value="{{findChannel(reminderChannel.channel_id).name}}" />
          <a ng-click='removeChannel($index)' 
             class="btn btn-xs btn-danger glyphicon glyphicon-minus"> 
          </a>
        </div>
      </div>
    </div>

    <div class='form-group field-block' 
         ng-class="schedule.reminder_channels.length ? '' : 'has-error' ">
      <div class='control ui-multi'>
        <span ng-class="isNewChannelAvailable()? '' : 'has-error' ">
          <select id="new_channel" 
                  class='form-control'
                  ng-model="newChannel" 
                  ng-options="channel.name for channel in channels">
          </select>
        </span>

        <button class="btn btn-xs btn-primary glyphicon glyphicon-plus"
          ng-click='addNewChannel()' 
          ng-disabled='!isNewChannelValid()'
          >
        </button>
      </div>
    </div>


    <hr />
    <!-- Start on  -->
    <p>
      <div class='control ui-2-label' >
        <span> Allow condition </span>
        <br />
        <toggle-switch
              model="schedule.schedule_type"
              class="switch-small"
              on-label="Yes"
              off-label="No" >
        </toggle-switch>
      </div>
    </p>

    <!-- ON -->
    <div ng-show="schedule.schedule_type">
      <div class='form-group field-block' >
        <div class=' ui-form-multi'>

          <span ng-class="isValueValid() ? '' : 'has-error' " > 
            <input autocomplete='off' type='text' class='form-control'
                   ng-model='schedule.conditions[0].value' />
          </span>

          <span>  </span>

          <span ng-class="isDataTypeValid() ? '' : 'has-error' "> 
            <select class='form-control'
                    ng-model='schedule.conditions[0].data_type'
                    ng-options= 'value for value in DATE_TYPES' >
            </select>
          </span>
          <span> After </span>
        </div>
      </div>

      <!-- Project Variables -->
      <div class='form-group field-block'
           ng-class="isVariableValid() ? '': 'has-error'">
        <div class='control'>
          <select id="project_variable" 
                  class='form-control'
                  ng-model="schedule.conditions[0].variable"
                  ng-options="variable.name as variable.name for variable in project.project_variables">
          </select>
        </div>
      </div>
    </div>

    <!-- OFF -->
    <div ng-hide="schedule.schedule_type" class='form-group field-block calendar-form' 
         ng-controller='CalendarController' >
      <label class="control-label" for="project_variable">Start on (DD/MM/YYYY)</label>
      <div class='control' >

        <p class="input-group ui-multi">
          <input type="text" 
                 class="form-control" 
                 datepicker-popup="{{format}}" 
                 ng-model="schedule.client_start_date" 
                 is-open="opened"
                 datepicker-options="dateOptions"
                 date-disabled="disabled(date, mode)"
                 ng-required="true"
                 close-text="Close" />

          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
    </div>

    <hr>
    <!-- Schedule for -->
    <div class='form-group field-block'>
      <label class="control-label" > Schedule call time (HH:MM) </label>
      <div class='control ui-2-label' >
        <span ng-class="isFromValid() ? '': 'has-error' ">
          <label class="label-inline" for="fromHour"> From </label>
          <input id='fromHour' type='text' class='form-control' autocomplete='off' ng-model='schedule.time_from' />
        </span>

        <span ng-class="isToValid() ? '': 'has-error' ">
          <label class="label-inline" for="toHour"> To </label>
          <input id='toHour' type='text' class='form-control' autocomplete='off' ng-model="schedule.time_to"  />
        </span>

      </div>
    </div>

    <!-- Retries -->
    <div class='form-group field-block'>
      <p>
        <label class="control-label" >
          Retries if the call was not pick up.<br/>
          Enter comma separated delays in hours 
        </label>
      </p>
      <div class='control' 
           ng-class="isRetryValid() ? '' : 'has-error' " >
        <input type='text' class='form-control' autocomplete='off' ng-model='schedule.retries_in_hours' />
      </div>
    </div>

    <div class='form-group field-block btn-block'>
      <label> </label>
      <div class='control'>
        <button class="btn btn-primary"
                ng-click='save()'
                ng-disabled ='!isValid()' >
          Save
        </button>
        <a class="btn btn-default" ui-sref="schedules({projectId: params('projectId')})" >Cancel</a>
      </div>
    </div>
  </form>
</div>
