<div class='pageTitle'>
  <div id='schedule-index' class="animate-container">

    <rm-add-bar data-title="'New Schedule'" 
                data-url="appHelper.url('schedules-new', {projectId: params('projectId')})" >
    </rm-add-bar>

    <div ng-repeat='schedule in schedules' class="panel panel-default animate-repeat">
      <div class="panel-heading clearfix">
        <div class="r-side bar-icon">
          <a class="icon" ui-sref="schedules-edit({projectId: params('projectId'), scheduleId: schedule.id})">
            <span class="glyphicon glyphicon-pencil"> </span>
          </a>

          <a class="icon" href='' ng-click='remove(schedule)'>
            <span class="glyphicon glyphicon-trash"> </span>
          </a>
        </div>
        <div class="l-side bar-title">
          {{project.name}}
        </div>
      </div>

      <div class="panel-body">
        <p>
          Call all contacts in
          <b> {{schedule.findGroupIn(groups).name}} </b> reminder group with
          <b> {{schedule.findCallFlowIn(project.call_flows).name}} </b> call flow using
          <b> {{schedule.channelsAsText(channels)}} </b> channel(s)
          
          <!-- When Today - test = 1 day -->
          <span ng-show="schedule.hasConditions()">
            When <b>Today</b> -
              <b>
              {{schedule.conditions[0].variable}}
              {{schedule.conditions[0].operator}}
              {{schedule.conditions[0].value}}
              {{schedule.conditions[0].data_type}}
             </b>
          </span>
        </p>
      </div>
    </div>
  </div>
</div>