$form-margin-left: 210px;
	
.form {
	width: 600px;
}

.field-block {
	label {
		display: block;
		font-weight: normal;
	}
	.control {
		display: block;
		input[type=text] {
	    width: 240px;
	    margin-left: 10px;
	  }

	  input.ui-multi {
	  	width: $form-margin-left !important;
	  }
	}
}

.field {
	label {
	  float: left;
	  width: 200px;
	  text-align:right;
	  font-weight: normal;
	}
	.control {
	  margin-left: $form-margin-left;
	  input[type=text] {
	    width: 240px;
	  }

	  input.ui-multi {
	  	width: $form-margin-left !important;
	  }
	}
	@include clear-after();
}