.panel {
  margin-bottom: 10px;
}

.panel-heading, .panel-body {
  padding: 8px 10px;
}

.alert {
  padding: 5px 25px 5px 10px;
}

// Angular fix bootstrap style
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

a, button {
  vertical-align: middle;
}

// Fix footer floating bar
.app-container{
  padding-bottom: 50px;
}