.form-control{
	display: inline !important;
	padding: 3px !important;
  height: 24px !important;
}

.panel {
  margin-bottom: 10px;
}

.panel-heading, .panel-body {
  padding: 5px 10px;
}

.alert {
  padding: 5px 25px 5px 10px;
}