defaults: &defaults
  APP_NAME: 'Verboice Reminder System'
  END_POINT: 'http://example.com/api2'
  
development:
  <<: *defaults
  END_POINT: 'http://example.com/api2'

test:
  <<: *defaults
  EMAIL: 'testing@example.com'
  PASSWORD: 'password'

production:
  <<: *defaults