<footer class='copyright'>
  <p>&copy; Copyright 
    <a href='http://www.instedd.org' style='text-decoration:none;'>
      <img src='http://www.ilabsoutheastasia.org/wp-content/themes/instedd_v3/images/favicon.ico' />
      InSTEDD
    </a>
  </p>
</footer>
