<% if account_singed_in? %>


<div class="dropdown">

  <a  class="blog-nav-item dropdown-toggle" 
      id="dropdownMenu1"
      data-toggle="dropdown">
    <%= current_account.email %>
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation">
     <%= link_to "Sign out", sign_out_path, tabindex: -1, 
                                            method: :delete,
                                            data: {confirm: 'Are you sure you want to sign out'} %>
     </li>
  </ul>
</div>
<% end %>

