<div class="navbar navbar-default navbar-static-top">
<!-- <div class="blog-masthead"> -->
  <div class="container">
    <%= link_to  ENV["APP_NAME"], root_url, class: 'navbar-brand active' %>
    <!-- <nav class="blog-nav">
      <%= link_to  ENV["APP_NAME"], root_url, class: 'blog-nav-item active' %>

    </nav> -->
    <%= render 'layouts/login_bar' %>
  </div>
</div>