<div class="blog-masthead">
  <div class='container'>
    <nav class="blog-nav">
      <div class='action-menu'> 
        <%= link_to  ENV["APP_NAME"], root_url, class: 'blog-nav-item active' %>
      </div>
      <div class='profile-menu'> <%= render 'layouts/login_bar' %> </div>
    </nav>
  </div>
</div>